.skillsblock {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-top: 40px;

  .skillsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
   margin: 0 10px 0 20px;
    .question {
      display: flex;
      margin-bottom: 20px;
      div {
      background-color: #bdbcbc;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      text-align: center;}
    }
  }
}