.block {
  display: flex;
  .title {
    display: flex;
    align-items: center;

    .circle {
      background-color: blue;
      border-radius: 50%;
      height: 20px;
      width: 20px;
    }
    h3 {
      margin: 0;
    }
  }
  .description {
    display: flex;
    .clock {
      width: 200px;
      height: 200px;
      background-size: cover;
      background-position: center;
    }
  }
}