.container {
  display: flex;
  border: 1px solid;
  border-radius: 12px;
  height: 30px;
  align-items: center;
  padding: 5px;
  margin: 10px 10px 10px 0;
  div {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
  }
  span {
    margin: 0 5px;
  }
}