.stackBlock {
  display: flex;
  margin-top: 40px;
  @media (max-width: 600px){
    flex-direction: column;
  }
  .stackContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    width: 100%;
    border-bottom: 1px solid #EBEBEB;
    h2, h3 {
      margin: 0;
      padding-bottom: 10px;
    }
    .langContainer {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    .techContainer {
      display: flex;
      justify-content: flex-start;
    }
    .experContainer {
      margin-bottom: 40px;
      span{
        margin-right: 20px;
      }
    }
  }
}